<%= form_for [@question, @question.answers.build] do |f| %>
 <div class="form-group">
    <%= f.text_area :body, rows: 2, class: 'form-control', placeholder: 'Escribe tu respuesta' %>
  </div>

  <div class="text-right">
    <%= f.submit 'Responder', class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>