body {
  background-color: #F3F3F3;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
}

.page-subtitle {
  border-bottom: 1px solid #D4D4D4;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 12px;
}