.questions {

  margin-top: 60px;

  .question{

    align-items: center;
    border-top: 1px solid #E2E2E2;
    display: flex;
    padding: 10px;

    .detail {

      .title {
        margin: 0;
        padding: 0;

        a {
          color: #F04500;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .user {
        color: #B5B5B5;
      }
    }

  }
}

.question-page {

  .page-title {
    margin-bottom: 20px;
  }

  .answers {
    margin-top: 40px;

    .page-subtitle {
      margin-bottom: 0;
    }

    .answer {
      padding: 10px 0;
    }
  }

  .answer-form {
    margin-top: 20px;
  }
}