.votes {
  margin-right: 10px;
  text-align: center;
  
  a {
    color: $gray;
    font-size: 14px;
    text-decoration: initial;
  }

  :hover {
    color: #F04500;
  }

  .quantity-votos{
    display: block;
  }
}

.voted {
  a {
    color: $orange !important;
  }
}